.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 800px;
}

.single {
  padding: 2px 16px;
  background: white;
  margin: 20px 10px;
  border-left: 8px solid white;
  border-radius: 4px;
  transition: ease all 0.2s;
}

.single:hover {
  border-left: 8px solid dodgerblue;
  background-color: #f2f2f2;
}
